
.Navigation__links {
    display: flex;
    flex-grow: 1;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-content: center;
    padding: 30px 100px 0;
    box-sizing: border-box;
    font-size: 30px;
    text-decoration: none;


}


.Navigation__links ul li a:hover,
.active {
    opacity: .5;
}
.Navigation__links ul li a{
    color: white;
}
.Navigation__links ul{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0;
    
}
.Navigation__links li{
text-decoration: none;
list-style: none;
    
}
.Navigation__links li a.active{
text-decoration: underline;
list-style: none;
    
}
.Navigation__links ul li a{
text-decoration: none;
    
}
.Navigation__clouds{
    background-image: url(./clouds.png);
    width: 100%;
height: 30px;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .Navigation__links {
        padding: 30px 10px 0;

    }

}
@media screen and (max-width: 425px) {
    .Navigation__links {
       font-size: 20px;

    }

}