.Footer {
    display: flex;
    flex-grow: 1;
    margin: 0;
    /* width: 100%; */
    /* background-image: url(./FooterBackground.png); */
    /* background-size:contain */
    background: white;
    justify-content: space-between;
    margin: 0 auto;
    align-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.Footer__clouds {
    background-image: url(./clouds_footer.png);
    width: 100%;
    height: 10px;
    background-size: cover;
}